@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

body {
    background-color: steelblue;
    color: white;
    font-family: 'Multi', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
}